# DCCompresor

## 1.1

## 1.2

In [5]:
import pandas as pd

# Leemos el archivo
filename = 'txt en'
with open(filename, 'r', encoding='utf-8') as f:
    lines = f.readlines()

# Reviso las frases que podemos codificar como ASCII
def is_ascii(s):
    try:
        s.encode('ascii')
        return True
    except UnicodeEncodeError:
        return False
# eliminamos los elementos que meten ruido en el dataset
# el "- " que hay en unas frases por ser subtitulos
ascii_phrases = []
for line in lines:
    line = line.strip()
    if is_ascii(line) and len(line) > 0:
        if line.startswith("- "):
            line = line[2:]
        ascii_phrases.append(line)

# Creo el DataFrame
df = pd.DataFrame(ascii_phrases, columns=['phrase'])

# Codifico cada frase en su lista de códigos ASCII
df['ascii_codes'] = df['phrase'].apply(lambda x: [ord(char) for char in x])
print("="*10)
print("Nos queda un dataframe con forma:")
print(df.shape)
print("="*10)
print("Vemos los primeros elementos del dataframe:")
df.head()

==========
Nos queda un dataframe con forma:
(2715826, 2)
==========
Vemos los primeros elementos del dataframe:

,phrase,ascii_codes
0,"(""Fall"" by Scott Miller)","[40, 34, 70, 97, 108, 108, 34, 32, 98, 121, 32..."
1,"(""Taste for Life"" by Scott Miller)","[40, 34, 84, 97, 115, 116, 101, 32, 102, 111, ..."
2,"Hey, Billy.","[72, 101, 121, 44, 32, 66, 105, 108, 108, 121,..."
3,Why not shake another one?,"[87, 104, 121, 32, 110, 111, 116, 32, 115, 104..."
4,"I can' t, Hoover.","[73, 32, 99, 97, 110, 39, 32, 116, 44, 32, 72,..."

In [8]:
# Debido al gran tamaño del Dataset que nos pesara en el entrenamiento
# tomamos 400.000 frases random del dataset
df = df.sample(n=400_000, random_state=42).reset_index(drop=True)
print("="*10)
print("Nos queda un dataframe con forma:")
print(df.shape)
print("="*10)
print("Vemos los primeros elementos del dataframe:")
df.head()

==========
Nos queda un dataframe con forma:
(400000, 2)
==========
Vemos los primeros elementos del dataframe:

,phrase,ascii_codes
0,You hit?,"[89, 111, 117, 32, 104, 105, 116, 63]"
1,We got a team over there.,"[87, 101, 32, 103, 111, 116, 32, 97, 32, 116, ..."
2,No!,"[78, 111, 33]"
3,"Yeah, I' m just fine.","[89, 101, 97, 104, 44, 32, 73, 39, 32, 109, 32..."
4,He' s a nice man.,"[72, 101, 39, 32, 115, 32, 97, 32, 110, 105, 9..."

## 1.3

### Autoencoders:

### Tokenización:

### Funciones de pérdida:

### Dropout:

## 1.4

### 1.4.1

## 1.5

## 1.6